/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.main-bg {
  background-color: #0F0F0F;
  color: white;
}

.glass1 {
  background: #212121
}

.lighttxt {
  color: #aba6a6;
}

.glassgr {

  background: rgba(38, 248, 0, 0.15);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  /* border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.glassrd {
  background: rgba(248, 6, 0, 0.15);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  /* border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.gr {
  color: #1ae42e;
}

.rd {
  color: #FF7D7D;
}